################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Passinst/bin
/Passinst/obj
/Passinst/publish
